/* ------------- FONTS ------------- */ 
@font-face {
	font-family: 'test';
	src: url('test.woff') format('woff'), /* Pretty Modern Browsers */
		 url('test.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
  
  /* ------------- STARTER ------------- */ 
  
  *{
	margin:0;
	padding:0;
  }
  
  body {
	  background-color: #252934;
	  color: white;
  }
  
  /* ------------- TRANSITIONS AND SHADOWS ------------- */
  
  a, a:visited, a:hover, .box .box-container:hover, .box .box-container {
	  -webkit-transition: all 150ms ease-in-out;
	  -moz-transition: all 150ms ease-in-out;
	  -ms-transition: all 150ms ease-in-out;
	  -o-transition: all 150ms ease-in-out;
	  transition: all 150ms ease-in-out;
  }
  
  .box .box-container:hover {
	  -webkit-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
	  -moz-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
	  box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
  }
  
  .container form, .box .box-container {
	  -webkit-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
	  -moz-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
	  box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
  }
  
  /* ------------- CONTAINER STYLING ------------- */ 
  
  .container {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	  min-height: 100vh;
  }
  
  /* ------------- LINK STYLING ------------- */ 
  
  a, a:visited {
	  color: #6C7789;
  }
  
  a:hover {
	  color: white;
  }
  
  a, a:visited, a:hover {
	  text-decoration: none;
	  
  }
  
  .box .box-container .link {
	  font-family: 'test';
	  font-size: 28px;
	  padding: 20px 0 0 15px;
	  text-align: left;
  }
  
  /* ------------- TIME STYLING ------------- */ 
  
  .container .time {
	  font-family: 'test';
	  font-size: 120px;
	  margin-bottom: 20px;
  }
  
  /* ------------- BOX STYLING ------------- */ 
  
  .box {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  flex-wrap: wrap;
	  margin: 1em 1em;
  }
  
  .box .box-container {
	  background-color: #2E3441;
	  width: 200px;
	  height: 255px;
	  float: left;
	  border-radius: 5px;
	  margin-top: 50px;
  }
  
  .box .box-container:not(:last-child) {
	  margin-right: 50px;
  }
  
  .box .box-container .heading {
	  margin: 25px 0 9px 15px;
	  font-family: 'test';
	  font-size: 33px;
	  text-align: left;
  }


  @media only screen 
and (min-device-width : 800px) 
and (max-device-width : 1200px) {
	.box .box-container {
		margin: 2rem !important;
	}
}

  @media only screen 
and (min-device-width : 150px) 
and (max-device-width : 800px){ 
	.box {
        flex-direction: column !important;
	}
	.box .box-container {
		margin: 2rem 0rem !important;
	}
}
  
  /* ------------- SEARCH STYLING ------------- */ 
  
  .container form {
	  background-color: #2E3441;
	  border-radius: 5px;
	  width: 450px;
	  margin-bottom: 80px;
  }
  
  .container form .search-field, .container form .search-submit {
	  background: none;
	  outline: none;
	  border: none;
	  line-height: 40px;
	  position: relative;
  }
  
  .container form .search-field {
	  width: 89%;
	  padding-left: 15px;
	  color: white;
	  font-size: 30px;
	  font-family: 'test';
	  bottom: -1px;
  }
  
  .container form .search-submit {
	  width: 10%;
	  top: 5px;
  }
  
  .container form .search-submit:hover {
	  cursor: pointer;
  }
  
  .container form .search-submit::before {
	  background-image:url(search.svg);
	  background-position:center center;
	  fill: white;
	  content:"";
	  width:23px;
	  height:23px;
	  position:absolute;
	  right:15px;
	  bottom: -3px;
  }

  .weather-container {
    position: absolute;
    top: 4rem;
    right: 3rem;
    font-family: "test", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: #fff;
    text-align: center;
	z-index: 1;
  }