{{ define "main" }}
{{ if .IsPage }}
  {{ partial "portfolio.html" . }}
{{ end }}
<main class="flex-auto" role="main" {{ if .IsTranslated }}lang="{{ .Language.Lang }}"{{ end }}>
  <div class="mt-16 sm:px-8 lg:mt-32">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <div class="xl:relative">
            <div class="mx-auto max-w-2xl">
              <a 
                href="{{ "/portfolio" | relLangURL }}" 
                aria-label="{{ i18n "back_to_portfolio" }}" 
                class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20 lg:absolute lg:-left-5 lg:-mt-2 lg:mb-0 xl:-top-1.5 xl:left-0 xl:mt-0"
                role="navigation"
              >
                <svg 
                  viewBox="0 0 16 16" 
                  fill="none" 
                  aria-hidden="true" 
                  class="h-4 w-4 stroke-zinc-500 transition group-hover:stroke-zinc-700 dark:stroke-zinc-500 dark:group-hover:stroke-zinc-400"
                  role="img"
                >
                  <title>{{ i18n "back_arrow_icon_title" }}</title>
                  <path 
                    d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5" 
                    stroke-width="1.5" 
                    stroke-linecap="round" 
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>

              <article aria-labelledby="portfolio-title">
                <header class="mb-16">
                  <h1 id="portfolio-title" class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                    {{ .Title }}
                  </h1>
                  <div class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                  </div>
                </header>
                
                <div class="prose dark:prose-invert">
                  {{ .Content }}
                </div>
              </article>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{{ end }}