<header class="header-site" role="banner">
    <div class="content">
        <h1>
            <span class="site-title">{{site.username}}</span>
            <span class="site-description">{{site.user_title}}</span>
        </h1>
        <div class="icons-home">
            <a aria-label="Send email" href="mailto:{{site.email}}" rel="noopener"><svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg></a>
            <a aria-label="My Github" target="_blank" rel="noopener" href="https://github.com/{{site.github_username}}"><svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg></a>
            <a aria-label="My Telegram" target="_blank" rel="noopener" href="https://t.me/{{site.telegram_username}}"><svg class="icon icon-telegram"><use xlink:href="#icon-telegram"></use></svg></a>
            <a aria-label="My Instagram" target="_blank" rel="noopener" href="https://instagram.com/{{site.instagram_username}}"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a>
            <a aria-label="My Unsplash" target="_blank" rel="noopener" href="https://unsplash.com/{{site.unsplash_username}}"><svg class="icon icon-unsplash"><use xlink:href="#icon-unsplash"></use></svg></a>
            <a aria-label="Use the RSS to get updates" target="_blank" rel="noopener" href="{{ "/feed.xml" | prepend: site.baseurl }}"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
        </div>
    </div>
    <a role="button" aria-label="Scroll Down" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
    {% include menu-search.html %}
</header>
