<div class="search-wrapper">
    <div class="search-form">
		<label hidden for="search-box">Search Box</label>
        <input type="text" class="search-field" id="search-box" placeholder="Search...">
        <svg class="icon-remove-sign"><use xlink:href="#icon-close"></use></svg>
        <ul class="search-results search-list"></ul>
    </div>
</div>
<div id="fade" class="overlay"></div>
<a id="slide" class="slideButton fade">
    <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
</a>
<aside id="sidebar">
<nav id="navigation">
  <h2>MENU</h2>
  <ul>
    {% for link in site.links %}
    {% if link.external %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% else %}
      <li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
    {% endfor %}
    <li><a href="{{ site.url }}/start" title="Start page">Start Page</a></li>
    <li><a class="feed" href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a></li>
  </ul>
  <div class="easter-egg"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 135.467 135.467"><g fill="#fff"><path d="M64.286 53.136l9.194-5.308 11.493 6.635-11.493 6.635-11.493-6.635m-37.35 21.565L10.27 84.322l57.463 33.176 57.463-33.176-14.366-8.294L67.733 100.9z" /><path d="M10.27 51.146l57.463 33.176L82.1 76.028 39.002 51.146l28.73-16.588L110.83 59.44l14.366-8.294L67.733 17.97 10.27 51.146l57.463 33.176z"/></g></svg></div>
</nav>
</aside>
<input class="toggle-theme" type="checkbox" id="switch" onclick="save();" /><label id="switcher" for="switch">Toggle</label>
<a id="search" class="dosearch">
    <svg id="search-icon" class="icon-menu icon-search"><use xlink:href="#icon-search"></use></svg>
</a>