.youtube-player,
.player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.youtube-player iframe,
.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img,
.player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.youtube-player img:hover,
.player img:hover {
  & ~ .play {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 13.229 13.229'%3E%3Cpath d='M11.76 6.615L1.469 12.632V.597z' fill='%23fa8072' stroke='%23333' stroke-width='1' paint-order='fill markers stroke'/%3E%3C/svg%3E")
      no-repeat;
    transform: scale(1.1);
  }
}

.youtube-player .play,
.player .play {
  height: 50px;
  width: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 13.229 13.229'%3E%3Cpath d='M11.76 6.615L1.469 12.632V.597z' fill='%23fff' stroke='%23fff' stroke-width='1' paint-order='fill markers stroke'/%3E%3C/svg%3E")
    no-repeat;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;

  &:hover {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 13.229 13.229'%3E%3Cpath d='M11.76 6.615L1.469 12.632V.597z' fill='%23fa8072' stroke='%23333' stroke-width='1' paint-order='fill markers stroke'/%3E%3C/svg%3E")
      no-repeat;
    transform: scale(1.1);
  }
}

.vidtitle {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  user-select: none;

  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg class='w-10 h-auto pr-2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }
}