.youtube-player,
.player {
  display: none;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  transition: all .3s ease-in-out;

  &:focus-visible {
    border: .25rem solid #fd0;
    outline: none;
    transform: scale(1.02);
  }
}

audio,
.audio-file {
  display: block;
  width: 100%;
  max-width: 100%;
}

.youtube-player iframe,
.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img,
.player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  transition: all .3s ease-in-out;
  filter: brightness(.75);
}

.youtube-player img:hover,
.player img:hover {
  filter: brightness(.9);
  & ~ .play {
    transform: scale(1.075);
  }
}

.youtube-player .play,
.player .play {
  position: absolute;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='107.35' height='119.066' viewBox='0 0 28.403 31.503'%3E%3Cpath d='M0 4.495C0 .49 2.836-1.148 6.305.855L25.803 12.11c3.467 2.003 3.467 5.281 0 7.282L6.305 30.649C2.836 32.65 0 31.013 0 27.009z' fill='%23fff'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 5rem 5rem;
  height: 5rem;
  width: 5rem;
  right: 1.875rem;
  bottom: 1.875rem;
  cursor: pointer;
  transition: all .3s ease-in-out;

  @media #{$media-size-tablet} {
    background-size: 3.125rem 3.125rem;
    height: 3.125rem;
    width: 3.125rem;
    right: 1.25rem;
    bottom: 1.25rem;
  }

  &:hover {
    transform: scale(1.075);
  }
}