footer {
  padding: 40px 20px;
  flex-grow: 0;
  color: $light-color-secondary;

  & a {
    outline: 3px solid transparent;

    &:hover {
      color: darken($light-color, 90%);
    }

    &:focus {
      @include focus;
    }
  }
}
