footer {
  padding: 2.5rem 1.25rem;
  flex-grow: 0;
  color: $light-color-secondary;

  & a {
    outline: .25rem solid transparent;

    &:hover {
      color: darken($light-color, 90%);
    }

    &:focus {
      @include focus;
      color: darken($light-color, 90%);
    }
  }
}
