header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 10px #00000012;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

    & > a {
      display: flex;
    }

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      @media #{$media-size-phone} {
        flex-direction: row-reverse;
      }
    }
  }
}