header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: .75rem 1.25rem;
  box-shadow: 0 .25rem .5rem #00000012;

  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 760px;
    max-width: 100%;

    @media #{$media-size-tablet} {
      max-width: 35rem;
    }
  }
}