header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;

  .dark-theme & {
    background: #252627;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      @media #{$media-size-phone} {
        flex-direction: row-reverse;
      }
    }
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.theme-toggler {
  fill: currentColor;
}
