header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  box-shadow: 0 3px 8px #00000012;
}