.posts {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 60px auto 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $light-border-color;
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1rem;
      margin: 5px 0 5px 0;
    }

    &-year {
      padding-top: 14px;
      margin-right: 1.5em;
      font-size: 1.6em;
      font-weight: bold;
      color: salmon;

      @media #{$media-size-tablet} {
        margin: -6px 0 4px;
      }
    }

    &-description {
      color: $light-color-secondary;
      font-size: .9em;
    }

    &-item {
      border-bottom: 2px grey dashed;
      padding: 12px 0;

      &:hover {
        border-bottom: 2px salmon dashed;
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        text-decoration: none;

        &:focus {
          @include focus;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      @include dimmed;
    }
  }
}
