.posts {
  width: 100%;
  max-width: 50rem;
  text-align: left;
  padding: 1.25rem;
  margin: 3.75rem auto 1.25rem auto;

  @media #{$media-size-tablet} {
    max-width: 41.25rem;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $light-border-color;
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1rem;
      margin: .25rem 0 .25rem 0;
    }

    &-year {
      padding-top: .875rem;
      margin-right: 1.5em;
      font-size: 1.6em;
      font-weight: bold;
      color: $light-color-secondary;

      @media #{$media-size-tablet} {
        margin: -.375rem 0 .25rem;
      }
    }

    &-description {
      color: $light-color-secondary;
      font-size: .9em;
    }

    &-item {
      border-bottom: .125rem grey dashed;
      padding: .75rem 0;

      &:hover {
        border-bottom: .125rem salmon dashed;
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        text-decoration: none;

        &:focus {
          @include focus;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      @include dimmed;
    }
  }
}
