:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: .05em;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-y: scroll;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, 'Segoe UI', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $light-background;
  color: $light-color;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  line-height: 1.3;
}

h1 {
  font-size: clamp(2.2rem, #{"2.3vw + 1.2rem"}, 2.625rem);
}

h2 {
  font-size: clamp(1.5rem, #{".7vw + 1.2rem"}, 1.625rem);
}

h3 {
  font-size: clamp(1.3rem, #{".4vw + 1.1rem"}, 1.375rem);
}

h4 {
  font-size: clamp(1.1rem, #{".1vw + 1rem"}, 1.125rem);
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 1.5rem 0;

  &.left {
    margin-right: auto;
  }

  &.left-floated {
    margin-right: auto;
    float: left;
    img {
      margin: 1.25rem 1.25rem 1.25rem 0;
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  &.right-floated {
    margin-left: auto;
    float: right;
    img {
      margin: 1.25rem 0 1.25rem 1.25rem;
    }
  }

  &.rounded {
    img {
      border-radius: 50%;
    }
  }

  & img {
    border: .25rem solid transparent;
    transition: all .3s ease-in-out;

    &:hover {
      border: .25rem solid #fd0;
    }
  }

  & a:focus-visible img {
    border: .25rem solid #fd0;
    transform: scale(1.025);
  }

  figcaption {
    font-size: 1rem;
    margin-top: .25rem;
    opacity: .8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

    & h2 {
      font-size: 1.25rem;
      margin: .5rem 0 0 0;
    }
  }
}

code {
  font-family: Consolas, Monaco, monospace;
  font-feature-settings: normal;
  background: $light-background-secondary;
  padding: .125rem .375rem;
  margin: 0 .125rem;
  border-radius: .25rem;
  font-size: .95rem;
  overflow-wrap: break-word;
}

pre {
  background: #212020;
  padding: 1.25rem;
  border-radius: .5rem;
  font-size: .95rem;
  overflow: auto;

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
}

blockquote {
  background: #fff;
  position: relative;
  border: solid .125rem;
  margin: 2.5rem 0;
  padding: 1.25rem;
  box-shadow: .625rem .625rem 0 0 salmon;
  transition: .3s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 0 salmon;
  }

  @media #{$media-size-phone} {
    box-shadow: .5rem .5rem 0 0 salmon;
    margin: 1.5rem 0;
    padding: 1.25rem;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

ul,
ol {
  margin-left: 2.5rem;
  padding: 0;

  @media #{$media-size-phone} {
    margin-left: 2.5rem;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;

  @media #{$media-size-phone} {
    margin-top: 0;
  }
}

hr {
  width: 100%;
  border: none;
  background: $light-border-color;
  height: 1px;
}

.hidden {
  display: none;
}

.hide-on-phone {
  @media #{$media-size-phone} {
    display: none;
  }
}

.hide-on-tablet {
  @media #{$media-size-tablet} {
    display: none;
  }
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: .25rem;
  box-shadow: 0 0 .125rem .125rem rgba(0,0,0,.6);
  clip-path: none;
  color: black;
  display: block;
  font-size: .875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: .25rem;
  left: .25rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  z-index: 100000;
}

main {
  margin-top: 4.75rem;
}

main > div > h1 {
  margin-bottom: 0;
}

main > div > p {
  margin-top: 0px;
  margin-bottom: 2.25rem;
}
