html {
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 0.05em;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $light-background;
  color: $light-color;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  flex: 1 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  line-height: 1.3;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

@media #{$media-size-phone} {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1.125rem;
  }
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-right: auto;
  }

  &.left-floated {
    margin-right: auto;
    float: left;
    img {
      margin: 20px 20px 20px 0;
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  &.right-floated {
    margin-left: auto;
    float: right;
    img {
      margin: 20px 0 20px 20px;
    }
  }

  &.rounded {
    img {
      border-radius: 50%;
    }
  }

  & img {
    border: 3px solid $light-background-secondary;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
  }

  & a:focus-visible img {
    border: 5px solid #fd0;
    transform: scale(1.03);
  }

  figcaption {
    font-size: 1rem;
    margin-top: 5px;
    opacity: 0.8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

    & h4 {
      margin: 0.5rem 0 0 0;
    }
  }
}

code {
  font-family: Consolas, Monaco, monospace;
  font-feature-settings: normal;
  background: $light-background-secondary;
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: 0.95rem;
  overflow-wrap: break-word;
}

pre {
  background: #212020;
  padding: 20px;
  border-radius: 8px;
  font-size: 0.95rem;
  overflow: auto;

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
}

blockquote {
  background: #fff;
  position: relative;
  border: solid 2px;
  margin: 40px 0px;
  padding: 20px;
  box-shadow: 10px 10px 0 0 salmon;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 0 0 salmon;
  }

  @media #{$media-size-phone} {
    box-shadow: 8px 8px 0 0 salmon;
    margin: 25px 0px;
    padding: 20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

ul,
ol {
  margin-left: 40px;
  padding: 0;

  @media #{$media-size-phone} {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;

  @media #{$media-size-phone} {
    margin-top: 0;
  }
}

hr {
  width: 100%;
  border: none;
  background: $light-border-color;
  height: 1px;
}

.hidden {
  display: none;
}

.hide-on-phone {
  @media #{$media-size-phone} {
    display: none;
  }
}

.hide-on-tablet {
  @media #{$media-size-tablet} {
    display: none;
  }
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: black;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 5px;
  left: 5px;
  line-height: normal;
  padding: 15px;
  text-decoration: none;
  z-index: 100000;
}

main {
  margin-top: 75px;
}

main > div > h1 {
  margin-bottom: 0;
}

main > div > p {
  margin-top: 0px;
  margin-bottom: 35px;
}
