nav {
  background: #fafafa;

  & ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    list-style: none;

    li {
      margin: 0 0.75rem;

      &:last-child {
        margin: 0 0 0 0.75rem;
      }

      &:first-child {
        margin: 0 0.75rem 0 0;
      }
    }

    @media #{$media-size-phone} {
      li {
        margin: 0 !important;
        padding: 0.25rem !important;
      }
    }
  }

  @media #{$media-size-phone} {
    position: absolute;
    top: 3.75rem;
    right: 1.5rem;
    border: none;
    outline: 1px solid $light-border-color;
    margin: 0;
    padding: 0.625rem;
    ul {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: start;
    }
  }

  a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;

    &:hover {
      box-shadow: inset 0 -0.2rem salmon;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &[aria-current="page"] {
      box-shadow: inset 0 -0.2rem salmon;
    }

    &:focus-visible {
      @include focus;
    }
  }
}

#TableOfContents {
  background: transparent;

  ul {
    display: block;
  }

  @media #{$media-size-phone} {
    position: relative;
    top: 0;
    right: 0;
    border: none;
  }
}

#menu label,
#hamburger {
  display: none;
}

@media #{$media-size-phone} {
  #menu label {
    display: inline-block;
    color: $light-color;
    font-size: 1.25rem;
  }

  #menu-items {
    display: none;
  }

  #menu input:checked ~ #menu-items {
    display: block;
  }
}
