nav {
  background: #fafafa;

  & ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 0 15px;
    font-size: 1rem;
    list-style: none;

    li {
      margin: 0 12px;

      &:last-child {
        margin: 0 0 0 12px;
      }
    }

    @media #{$media-size-phone} {
      li {
        margin: 0 !important;
        padding: 5px !important;
      }
    }
  }

  @media #{$media-size-phone} {
    ul {
      font-size: .9rem;
    }
  }

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline 3px salmon;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &[aria-current="page"] {
      text-decoration: underline 3px salmon;
    }

    &:focus-visible {
      @include focus;
    }
  }
}

#TableOfContents {
  background: transparent;

  ul {
    display: block;
  }

  @media #{$media-size-phone} {
    position: relative;
    top: 0;
    right: 0;
    border: none;
  }
}