.post {
  width: 100%;
  max-width: 50rem;
  text-align: left;
  padding: 1.25rem;
  margin: 5rem auto 1.25rem auto;

  @media #{$media-size-tablet} {
    max-width: 37.5rem;
  }

  &-date {
    &:after {
      content: "—";
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 1.25rem;

    @media #{$media-size-phone} {
      font-size: 2rem;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 1.875rem;

    & a {
      outline: .25rem solid transparent;

      &:hover {
        color: darken($light-color, 90%);
      }

      &:focus {
        @include focus;
      }
    }

    & p img {
      margin: 1rem auto;
      border: .25rem solid $light-background-secondary;
      transition: .3s ease-in-out;

      &:hover {
        box-shadow: 0 .625rem 1rem -.25rem rgba(0,0,0,.1),0 .25rem .375rem -.125rem rgba(0,0,0,.05);
      }
    }

    & .nojs-video {
      display: inline-block;

      &:after {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
        margin-left: .25rem;
      }
    }
  }

  &-cover {
    border-radius: .5rem;
    margin: 2.5rem -3.125rem;
    width: 53.75rem;
    max-width: 53.75rem;

    @media #{$media-size-tablet} {
      margin: 1.25rem 0;
      width: 100%;
    }
  }

  &-info {
    font-size: .8rem;
    line-height: normal;
    @include dimmed;

    & a {
      outline: .25rem solid transparent;

      &:hover {
        color: darken($light-color, 90%);
      }

      &:focus {
        @include focus;
      }
    }

    p {
      margin: .8em 0;
    }

    svg {
      margin-right: .6em;
      display: inline;
      vertical-align: -.125em;
      width: 1em;
      height: 1em;
    }
    
    .tag {
      margin-right: .5em;
      display: inline-block;

      &::before {
        content: "#";
      }
    }
  }
}

.pagination {
  margin-top: 1.25rem;

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 1.875rem 0 1.25rem;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: .25rem .625rem;
      background: $light-background;
      color: $light-color-secondary;
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .1em;
      z-index: 1;
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 1rem;
      z-index: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $light-background-secondary;
  font-size: 1rem;
  font-weight: 600;
  border-radius: .5rem;
  max-width: 40%;
  padding: 0;
  cursor: pointer;
  appearance: none;

  + .button {
    margin-left: .625rem;
  }

  a {
    display: flex;
    padding: .5rem 1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: .5rem;
  }

  &.previous .button__icon {
    margin-right: .5rem;
  }

  &:hover {
    background-color: $light-border-color;
  }
}

.anchor-tag {
  opacity: .7;
  text-decoration: none;
  margin-left: .25rem;
  transition: .2s ease-in;

  &:hover {
    opacity: 1;
  }

  &:focus {
    opacity: 1;
  }
}
