@font-face {
    font-family: 'test';
    src: url('test.woff') format('woff'), url('test.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #252934;
    min-height: 100vh;
    font-family: "test", sans-serif;
}

div#left {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 50vw;
    box-sizing: border-box;
    padding: 40px;
    color: white;
}

.time {
    font-size: 5rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-size: 6em;
    color: #333;
    margin: 0;
    text-align: right;
    text-shadow: -5px 0px 0px rgba(0, 0, 0, .3);
}

div#deck {
    position: relative;
    width: 50vw;
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    text-align: right;
    justify-content: right;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}

section.card {
    will-change: transform;
    will-change: margin;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    height: 250px;
    min-width: 150px;
    max-width: 150px;
    display: inline-block;
    transform: perspective(15cm) rotateX(0deg) rotateY(0deg);
    z-index: 10;
    transition: .2s box-shadow, .2s transform, .2s margin-left;
    margin: 15px;
    margin-left: -60px;
    color: white;
    background-color: #2E3441;
    box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.25);
    border: 4px solid #252933;
    position: relative;
}

div#deck:hover section.card {
    margin-left: 15px;
}

section.card>h2:first-child {
    margin: 0;
    font-size: 1.75rem;
    font-family: "test", sans-serif;
    position: absolute;
    color: #999;
    bottom: 5px;
    left: 15px;
}

section.card>hr {
    border: none;
    border-top: 1px solid white;
}

section.card>a {
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    color: white;
    position: relative;
}

section.card>a:hover:after {
    content: "<";
    right: 0px;
    top: 0px;
    position: absolute;
}

form {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 40px;
    width: 50vw;
    box-sizing: border-box;
}

form>input#search {
    border: none;
    padding: 15px;
    font-size: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: 4px solid #999;
    color: white;
    font-family: "test", sans-serif;
}

#notebook {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 70px;
    cursor: pointer;
    background-color: #999;
    box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.25);
}

#notebook:active {
    background-color: #888;
    box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.25);
}

textarea.note {
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: red;
    border: none;
    padding: 15px;
    resize: none;
    box-shadow: -10px 10px 0px rgba(0, 0, 0, .3);
    color: white;
}