<!DOCTYPE html>
<html lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}} {{ if .IsHome }}{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}{{ else }}"{{ end }}>
    {{ partial "header.html" . }}

    <div class="content">
        {{ block "main" . }}{{ end }}
    </div>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
</body>

</html>