<!DOCTYPE html>
<html lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
    {{ partial "header.html" . }}

    <div class="content">
        {{ block "main" . }}{{ end }}
    </div>

    {{ partial "hire.html" . }}

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
</body>

</html>