{{ define "main" }}
{{ if .IsPage }}
  {{ partial "article.html" . }}
{{ end }}
<main class="flex-auto" role="main" {{ if .IsTranslated }}lang="{{ .Language.Lang }}"{{ end }}>
    <div class="mt-16 sm:px-8 lg:mt-32">
        {{- $uses := site.Data.uses -}}
        <div class="mx-auto w-full max-w-7xl lg:px-8">
          <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
              <header class="max-w-2xl">
                <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                    {{ .Page.Params.header }}
                </h1>
                <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                    {{ .Description }}
                </p>
              </header>
              
              <div class="mt-16 sm:mt-20">
                <div class="space-y-16">
                  {{- range $index, $category := $uses.categories -}}
                  <section 
                    aria-labelledby="uses-{{ $category.key }}"
                    class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
                  >
                    <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
                      <h2 
                        id="uses-{{ $category.key }}" 
                        class="text-sm font-semibold text-zinc-800 dark:text-zinc-100"
                      >
                        {{ $category.key | humanize }}
                      </h2>
                      
                      <div class="md:col-span-3">
                        <ul role="list" class="space-y-10">
                          {{- range $category.items -}}
                          <li class="group relative flex flex-col items-start">
                            <h3 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                              {{ .title }}
                            </h3>
                            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                              {{ .description }}
                            </p>
                          </li>
                          {{- end -}}
                        </ul>
                      </div>
                    </div>
                  </section>
                  {{- end -}}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</main>
{{ end }}