<!-- Author Structured Data -->
{{ $social := .Site.Params.social }}
{{ $worksFor := .Site.Params.author.worksFor }}
{{ $knowsAbout := .Site.Params.author.knowsAbout }}
{{ $languages := .Site.Params.author.knowsLanguage }}

{{ $socialURLs := slice }}
{{ range $social }}
  {{ $socialURLs = $socialURLs | append .url }}
{{ end }}

{{ $orgs := slice }}
{{ range $worksFor }}
  {{ $orgs = $orgs | append (dict "@type" "Organization" "name" .name "url" .url "jobTitle" .jobTitle) }}
{{ end }}

{{ $langs := slice }}
{{ range $languages }}
  {{ $langs = $langs | append (dict "@type" "Language" "name" .) }}
{{ end }}

{{ $person := dict
  "@context" "https://schema.org"
  "@type" "Person"
  "name" .Site.Params.author.name
  "url" .Site.BaseURL
  "sameAs" $socialURLs
  "email" .Site.Params.author.email
  "description" .Site.Params.author.description
  "image" .Site.Params.author.image
  "address" (dict "@type" "PostalAddress" "addressLocality" .Site.Params.author.addressLocality "addressCountry" .Site.Params.author.addressCountry)
  "worksFor" $orgs
  "alumniOf" (dict "@type" "EducationalOrganization" "name" .Site.Params.author.alumniOf)
  "birthDate" .Site.Params.author.birthDate
  "gender" .Site.Params.author.gender
  "jobTitle" .Site.Params.author.jobTitle
  "knowsAbout" $knowsAbout
  "knowsLanguage" $langs
  "telephone" .Site.Params.author.telephone
  "nationality" .Site.Params.author.nationality
}}
<script type="application/ld+json">
  {{ $person | jsonify (dict "indent" "  ") }}
</script>
