<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ .Site.BaseURL }}">Home</a>
    </li>
    {{ range .Ancestors.Reverse }}
      <li class="breadcrumb-item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {{- $breadcrumbs := slice -}}

      {{/* Home item */}}
      {{- $breadcrumbs = $breadcrumbs | append (dict "@type" "ListItem" "position" 1 "name" "Home" "item" .Site.BaseURL) -}}

      {{/* Ancestor sections (reverse order for correct breadcrumb structure) */}}
      {{- $position := 2 -}}
      {{- range .Ancestors.Reverse -}}
        {{- $breadcrumbs = $breadcrumbs | append (dict "@type" "ListItem" "position" $position "name" .Title "item" .Permalink) -}}
        {{- $position = add $position 1 -}}
      {{- end -}}

      {{/* Current Page */}}
      {{- $breadcrumbs = $breadcrumbs | append (dict "@type" "ListItem" "position" $position "name" .Title "item" .Permalink) -}}

      {{/* Output JSON safely */}}
      {{- $breadcrumbs | jsonify -}}
    ]
  }
</script>