<section class="mt-9 sm:px-8" aria-labelledby="hero-heading">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <div class="max-w-2xl">
            <h1 id="hero-heading" class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                {{ with site.Params.author.name }}
                    {{ . }}
                {{ end }}
            </h1>
            <p class="mt-4 text-base text-zinc-600 dark:text-zinc-400">
                {{ with site.Params.author.jobTitle }}
                    {{ . }}
                {{ end }}
            </p>
            <div class="mt-6 flex gap-4">
              {{ range site.Params.social }}
                <a class="group -m-1 p-1 text-zinc-500 transition hover:text-zinc-600 dark:text-zinc-400 dark:hover:text-zinc-300" 
                   href="{{ .url }}" 
                   target="_blank"
                   rel="me noopener noreferrer"
                   aria-label="{{ if eq .name `email` }}
                   {{ i18n "social.email_aria" (dict "email" (replace .url "mailto:" "")) }}
                    {{ else }}
                        {{ i18n "social.follow_aria" (dict "platform" (i18n (printf "social_platforms.%s" .name))) }}
                    {{ end }}">
                  {{ partial "fontawesome.html" .icon }}
                </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>