<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    "name": "{{ .Title }}",
    
    {{- with .Params.description }}
    "description": "{{ . }}",
    {{- end }}

    {{- with .Params.projectUrl }}
    "url": "{{ . }}",
    {{- end }}

    {{- with .Params.img }}
    "image": "{{ . | relURL }}",
    {{- end }}

    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author.name }}"
    },

    "dateCreated": "{{ .Date | time.Format "2006-01-02T15:04:05Z" }}"

    {{- with .Params.projectUrl }},
    "sameAs": "{{ . }}"
    {{- end }}
  }
</script>