{{- $domain := .Get "domain" | default (.Get 0) -}}
{{- $id := .Get "id" | default (.Get 0) -}}
{{- $title := .Get "title" | default "Embed Video" }}
{{- $timestamp := .Get "timestamp" | default "0m01s" }}
{{- $thumb := .Get "thumb" | default "default.png" }}
<div class="player" data-domain="{{ $domain }}" data-id="{{ $id }}" data-timestamp="{{ $timestamp }}" data-title="{{ $title }}" data-thumb="{{ $thumb }}"></div>

<script>
  function embedVideo(div) {
    var iframe = document.createElement("iframe");
    iframe.setAttribute(
      "src",
      "https://" + div.dataset.domain + "/playback/presentation/2.0/playback.html" + "?meetingId=" + div.dataset.id + "&t=" + div.dataset.timestamp
    );
    div.parentNode.replaceChild(iframe, div);
  }

  function initBBBVideos() {
    var playerElements = document.getElementsByClassName("player");
    for (var n = 0; n < playerElements.length; n++) {
      var domain = playerElements[n].dataset.domain;
      var videoId = playerElements[n].dataset.id;
      var videoTitle = playerElements[n].dataset.title;
      var thumbImage = playerElements[n].dataset.thumb;
      var timestamp = playerElements[n].dataset.timestamp;
      var div = document.createElement("div");
      div.setAttribute("data-id", videoId);
      div.setAttribute("data-domain", domain);
      div.setAttribute("data-thumb", thumbImage);
      div.setAttribute("data-timestamp", timestamp);
      var thumbNode = document.createElement("img");
      thumbNode.alt = videoTitle;
      thumbNode.src = "/img/thumbs/image".replace(
        "image",
        thumbImage
      );
      div.appendChild(thumbNode);
      var playButton = document.createElement("div");
      playButton.setAttribute("class", "play");
      div.appendChild(playButton);
      div.onclick = function () {
        embedVideo(this);
      };
      playerElements[n].appendChild(div);
    }
  }

  document.addEventListener("DOMContentLoaded", initBBBVideos);
</script>